<div class="navbar navbar-default navbar-openshift" role="navigation">
  <div class="navbar-header">
<!--  <div class="dropdown">
    <a href="https://www.openshift.com/#" class="dropdown-toggle navbar-menu-toggle" data-toggle="dropdown">
      <span class="navbar-menu-title">MENU</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <ul class="dropdown-menu navbar-menu" role="menu">
      <li>
        <a href="/deploy-containers-using-cli.html">
          Deploy Containers via CLI
        </a>
      </li>
      <li>
        <a href="/deploy-containers-using-ui.html">
          Deploy Containers via UI
        </a>
      </li>
      <li>
        <a href="/build-docker-images.html">
          Using OpenShift to Build Docker Images
        </a>
      </li>
      <li>
        <a href="/nfs-server.html">
          Deploying stateful containers using NFS
        </a>
      </li>
      <li>
        <a href="/application-healthchecks.html">
          Application Deployments and Healthchecks
        </a>
      </li>
      <li>
        <a href="/install-deploy-openshift.html">
          Installing / Deploying OpenShift
        </a>
      </li>
    </ul>
  </div> -->
  <a class="navbar-brand" href="http://learn.openshift.com/"></a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-report-issue text-center" href="https://github.com/openshift-evangelists/intro-katacoda/issues/new">
      <i class="fa fa-exclamation-triangle fa-lg"></i><br>Report an Issue
    </a></li>
    <li><a class="nav-sign-up" href="https://www.openshift.com/">SIGN UP TO OPENSHIFT ONLINE FOR FREE</a></li>
  </ul>
</div>
</div>
