{{ template "templates/header.html" . }}
{{ template "templates/banner.html" . }}
{{ template "templates/hero.html" . }}


<section class="text-center">
  <div class="container">
    <div class="row">

      <div id="katacoda-terminal"
        data-katacoda-id="openshift/{{ .Name }}/dashboard"
        data-katacoda-color="#373534"
        data-katacoda-secondary="#e00"
        data-katacoda-background="#fff"
        data-katacoda-hideprogress="true"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans" 
        data-katacoda-externalcss="https://learn.openshift.com/static/external.css"
        style="height:2040px;">
      </div>

    </div>
  </div>
</section>

{{ template "templates/footer.html" . }}
