<header class="masthead masthead-logo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="text-red">Interactive Learning Portal</h1>
        <p>Our Interactive Learning Scenarios provide you with a pre-configured OpenShift&reg; instance, accessible from your browser without any downloads or configuration. Use it to experiment, learn OpenShift and see how we can help solve real-world problems.</p>
      </div>
    </div>
  </div>
</header>
