.DS_Store
.project
*.iso
output/
output-openshift/
output-openshift-middleware/
*.backup
*.zip
target/
out/
*.classpath
*.project
*.settings
.security/
generated/
*.jar
*.war
*.iml
.idea
workspace
data
logs/
tmp/
.vscode/
*ec2*
*aws*
*gcp*
*azure*
output*
build.sh
