.DS_Store
.project
*.iso
output/
output-openshift/
output-openshift-middleware/
*.zip
target/
out/
*.classpath
*.project
*.settings
.security/
generated/
*.jar
*.war
*.iml
.idea
workspace
data
logs/
tmp/
.vscode/
