<footer class="footer-openshift-new">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-3 logo">
                <a href="https://www.redhat.com/"></a>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
                <a href="https://www.openshift.org/" class="hidden-xs">Open Source</a>
                <a href="https://www.openshift.com/about/contact.html" class="hidden-xs">Contact Us</a>
                <a href="https://facebook.com/openshift" class="hidden-xs hidden-sm"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/openshift" class="hidden-xs hidden-sm"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://plus.google.com/+OpenShift" class="hidden-xs hidden-sm"><i class="fa fa-google-plus fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
  var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
  var windowEvent = window[eventMethod];
  var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

  windowEvent(messageEvent,function(e) {
  var d = e.data;
  if(e && e.origin && e.origin.indexOf('katacoda.com') >= 0) {
    var t = {
      'event': 'katacoda-scenario',
      'eventName': "katacoda-" + d.scenario,
      'eventAction': d.action,
      'eventLabel': d.label
    }
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push(t);
  }
  },false);

</script>

</body>
</html>
