{{ partial "header.html" . }}

<header class="masthead masthead-overview text-center">
<div id="home_carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">
  <div class="item devpreview active">
    <div class="container">
      <div class="title-inner">
        <h1>Learn Red Hat OpenShift</h1>
        <p class="lead primary-message">Our Interactive Learning Scenarios provide you with a pre-configured OpenShift instance, accessible from your browser without any downloads or configuration. Use it to experiment, learn OpenShift and see how we can help solve real-world problems.</p>
<!-- May want to move this somewhere else later        <p><a class="btn btn-openshift" href="http://openshift.katacoda.com/deploy-containers-using-cli.html">Start Learning OpenShift</a></p> -->
      </div>
    </div>
  </div>
</div>
</div>
</header>


<section class="text-center">
<div class="container">
<div class="row">

  <div id="katacoda-terminal" 
  data-katacoda-id="openshift/intro-openshift/dashboard" 
  data-katacoda-color="#373534" 
  data-katacoda-secondary="#c00"
  data-katacoda-background="#fff" 
  data-katacoda-hideprogress="true" 
  data-katacoda-font="Open Sans" style="height:700px;"></div>

</div>
</div>
</section>

{{ partial "footer.html" . }}
