{{ partial "header.html" . }}

<header class="masthead masthead-overview text-center">
<div id="home_carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">
  <div class="item openshift3-speed active" style="height: 485px;">
    <div class="container">
      <div class="title-inner">
        <h2>Learn</h2>
        <h1>Red Hat OpenShift Container Platform</h1>
        <p class="lead primary-message">Interactive Learning Platform for OpenShift. Learn how to deploy applications and resolve real-world problems without any downloads or configuration.</p>
        <p><a class="btn btn-openshift" href="http://openshift.katacoda.com/deploy-containers-using-cli.html">Start Learning OpenShift</a></p>
      </div>
    </div>
  </div>
</div>
</div>
</header>


<section class="text-center">
<div class="container">
<div class="row">

  <h2>Our Interactive Learning Scenarios provide you with a pre-configured OpenShift instance, accessible from your browser without any downloads or configuration. Use it to experiment, learn OpenShift and see how we can help solve real-world problems.</h2>

  <div id="katacoda-terminal" data-katacoda-id="openshift/intro-openshift/dashboard" data-katacoda-color="#182c4e" data-katacoda-secondary="#aa1e1e" data-katacoda-background="#fff" data-katacoda-hideprogress="true" data-katacoda-font="Open Sans" style="height:700px"></div>

</div>
</div>
</section>

{{ partial "footer.html" . }}
