{{ partial "header.html" . }}

<header class="masthead masthead-logo text-center">
  <div class="container text-center">
    <img class="logo-oso" src="https://www.openshift.com/images/logos/openshift/Logotype_RH_OpenShift_wLogo_RGB_White.svg" alt="Red Hat OpenShift Logo">
    <h1>Interactive Learning Portal</h1>
    <p class="lead">Our Interactive Learning Scenarios provide you with a pre-configured OpenShift instance, accessible from your browser without any downloads or configuration. Use it to experiment, learn OpenShift and see how we can help solve real-world problems.</p>
    <!-- May want to move this somewhere else later <p class="learn-more"><a class="btn btn-openshift" href="http://learn.openshift.com/deploy-containers-using-cli.html">Start Learning OpenShift</a></p> -->
  </div>
</header>

<section class="text-center">
  <div class="container">
    <div class="row">

      <div id="katacoda-terminal" 
      data-katacoda-id="openshift/katacoda-intro/dashboard" 
      data-katacoda-color="#373534" 
      data-katacoda-secondary="#c00"
      data-katacoda-background="#fff" 
      data-katacoda-hideprogress="true" 
      data-katacoda-font="Open Sans"
      data-katacoda-fontheader="Open Sans" style="height:700px;"></div>

    </div>
  </div>
</section>

{{ partial "footer.html" . }}
